{% extends 'base.html' %} {% block title %}Choose Class- E Books{% endblock %} {% block content %}
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>

    <br>
    <h4 style="font-family: Poppins;">Which class are you in?</h4>
    <br>
    <center>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://ncert.nic.in/textbook/pdf/fesc1cc.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Class 6</h5>
              <p class="card-text"></p>
              <a href="ebooks6" class="btn btn-primary">Go there</a>
            </div>
          </div>
           
          <br>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://ncert.nic.in/textbook/pdf/gesc1cc.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Class 7</h5>
              <p class="card-text"></p>
              <a href="ebooks7" class="btn btn-primary">Go there</a>
            </div>
          </div>

          <br>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://ncert.nic.in/textbook/pdf/hesc1cc.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Class 8</h5>
              <p class="card-text"></p>
              <a href="ebooks8" class="btn btn-primary">Go there</a>
            </div>
          </div>
    </center>
    <img 
    style="width: 200px; 
    height: 200px; 
    position: relative; 
    left: 900px; 
    bottom: 450px;"
    src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1380130/android/stickers/14870492.png;compress=true">
    <img 
    style="width: 150px; 
    height: 150px; 
    position: relative; 
    right: 150px;
    bottom: 1200px;"
    src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1380130/android/stickers/14870490.png;compress=true">
    {% endblock %}
    