{% extends 'base.html' %} {% block title %}Todo{% endblock %} {% block content
    %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
<br>

<h4>2048:</h4>
<center>
<iframe src="https://funhtml5games.com?embed=2048bit" style="width:530px;height:690px;border:none;" frameborder="0" scrolling="no"></iframe>
</center>

<h4>1010 Classic</h4>
<center>
<script src="https://cdn.htmlgames.com/embed.js?game=1010Classic&amp;bgcolor=white"></script>
</center>

    {% endblock %}