{% extends 'base.html' %} {% block title %}Todo{% endblock %} {% block content
    %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
<br>
<center>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://img.icons8.com/ultraviolet/452/controller.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Minigames</h5>
      <p class="card-text">Play some fun Mind Minigames</p>
      <a href="minigames" class="btn btn-primary">Let's Play!</a>
    </div>
  </div>
</center>

    {% endblock %}
    