{% extends 'base.html' %} {% block title %} Sign Up {% endblock %} {% block
content %}
<style type="text/css">
	form label {
		font-size: 1.3rem;
		font-weight: 450;
	}
	#hello-alpaca {
		width: 200px;
		height: 200px;
		position: relative;
		left: 635px;
		bottom: 75px;
		margin-top: 3rem;
	}
</style>
<br />
<h3 align="center">Sign Up</h3>
<img
	id="hello-alpaca"
	src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1380130/android/stickers/14870486.png;compress=true"
/>
<form method="POST">
	<div class="mb-3">
		<label for="username" class="form-label">Username</label>
		<input
			type="text"
			class="form-control"
			id="username"
			name="username"
			placeholder="Eg. Username123"
		/>
	</div>
	<div class="mb-3">
		<label for="password1" class="form-label">Password</label>
		<input
			type="password"
			class="form-control"
			id="password1"
			name="password1"
		/>
	</div>
	<div class="mb-3">
		<label for="password2" class="form-label">Password(Confirm)</label>
		<input
			type="password"
			class="form-control"
			id="password2"
			name="password2"
		/>
	</div>
	<button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
</form>
{% endblock %}
