{% extends 'base.html' %} {% block title %} Science E-Books Class 8 {% endblock %} {% block content %}
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>

<br>
    <center>

        <!--Chapter 1 & 2-->

          <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/2d59e61a-2558-11ea-b208-02f21f5619c4/1.jpg" alt="">
      
                        <div class="card-body">
                            <h5 class="card-title">Chapter 1</h5>
                            <p class="card-text">
                                Crop Production and Management
                            </p>
      
                            <a target="_blank" href="https://drive.google.com/open?id=1_6TsX9PvdF2EE9sp-rUVSwV-WHQtXfsF" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/2daabb6c-2558-11ea-b525-02f21f5619c4/1.jpg" alt="">
      
                        <div class="card-body">
                            <h5 class="card-title">Chapter 2</h5>
                            <p class="card-text">
                                Microorganisms: Friend and Foe
                            </p>
                              
                            <a href="https://drive.google.com/open?id=1GyGse3nhsnHrWgMHKGByF4Y2P0Ap6Odp" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 3 & 4-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/2ded7d26-2558-11ea-aa39-02f21f5619c4/1.jpg" alt="">
      
                        <div class="card-body">
                            <h5 class="card-title">Chapter 3</h5>
                            <p class="card-text">
                                Synthetic Fibres and Plastics
                            </p>
      
                            <a target="_blank" href="https://drive.google.com/open?id=1BUZHLYp3DPoZvPtimH8RyyiuXUsdm0v9" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/2e83662e-2558-11ea-84f9-02f21f5619c4/1.jpg" alt="">
      
                        <div class="card-body">
                            <h5 class="card-title">Chapter 4</h5>
                            <p class="card-text">
                                Materials: Metals and Non-Metals
                            </p>
                              
                            <a target="_blank" href="https://drive.google.com/open?id=1J_5E7bmw-_yk5wELzCTnBrvxlPOFrefA" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 5 & 6-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/2e819394-2558-11ea-af67-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 5</h5>
                            <p class="card-text">
                                Coal and Petroleum
                            </p>
        
                            <a target="_blank" href="https://drive.google.com/open?id=1z-m2ODECTKmHl2OpG6dRhZZYY0pp_tcj" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/2f13181e-2558-11ea-a10a-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 6</h5>
                            <p class="card-text">
                                Combustion and Flame
                            </p>
                                
                            <a targer="_blank" href="https://drive.google.com/open?id=17Ugznmo-oAkIHIXSAbfiv3A7jPc9_uvc" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 7 & 8-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/2f445bcc-2558-11ea-95ec-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 7</h5>
                            <p class="card-text">
                                Conservation of Plants and Animals
                            </p>
        
                            <a target="_blank" href="https://drive.google.com/open?id=1oqjftYf_jnDQUd9_2CvnGbjmgyi7SEpb" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/2f981eb0-2558-11ea-90b2-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 8</h5>
                            <p class="card-text">
                                Cell - Structure and Functions
                            </p>
                                
                            <a target="_blank" href="https://drive.google.com/open?id=1VXbtV7itkg1WcqY839tFgjsFirUDG06-" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 9 & 10-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/300e2e48-2558-11ea-8930-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 9</h5>
                            <p class="card-text">
                                Reproduction in Animals
                            </p>
        
                            <a target="_blank" href="https://drive.google.com/open?id=1YEkDnz3KDMG4B4dXqHq4wpC0qHlB_6qL" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/300e2862-2558-11ea-aa58-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 10</h5>
                            <p class="card-text">
                                Reaching the Age of Adolescence
                            </p>
                                
                            <a target="_blank" href="https://drive.google.com/open?id=1i0yhi-TnGUlLqwg2tullFGDYlCrlakRn" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 11 & 12-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/3108f2a6-2558-11ea-afb6-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 11</h5>
                            <p class="card-text">
                                Force and Pressure
                            </p>
        
                            <a target="_blank" href="https://drive.google.com/open?id=1Pb7DgNJwNmhvT-JUU45kapExIe0OPCYI" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/312065f8-2558-11ea-8032-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 12</h5>
                            <p class="card-text">
                                Friction
                            </p>
                                
                            <a target="_blank" href="https://drive.google.com/open?id=1IpPPuql2a4OGk1apm7nlRNg70AyoDo5F" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 13 & 14-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/31534590-2558-11ea-b1a3-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 13</h5>
                            <p class="card-text">
                                Sound
                            </p>
        
                            <a target="_blank" href="https://drive.google.com/open?id=1crO1K9RB1Ew8gxr4pQwQtnhPT1O6ggvi" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/31d8b964-2558-11ea-9d6d-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 14</h5>
                            <p class="card-text">
                                Chemical Effects of Electric Current
                            </p>
                                
                            <a target="_blank" href="https://drive.google.com/open?id=1Bbrg5Tfxr72uGuhPpKdSbYUTM9DGV8a6" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 15 & 16-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/324bff78-2558-11ea-a634-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 15</h5>
                            <p class="card-text">
                                Some Natural Phenomena
                            </p>
        
                            <a target="_blank" href="https://drive.google.com/open?id=1y0UPNd-o7gOD5oAOp2NfYJeHpJTzHowg" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/33a6f4ea-2558-11ea-9f71-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 16</h5>
                            <p class="card-text">
                                Light
                            </p>
                                
                            <a target="_blank" href="https://drive.google.com/open?id=1mxWr1xhprSqbs5217nZGoS9ZY76g4i1i" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 17 & 18-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/33f0bbd4-2558-11ea-beec-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 17</h5>
                            <p class="card-text">
                                Stars and The Solar System
                            </p>
        
                            <a target="_blank" href="https://drive.google.com/open?id=1uem_1EHbvjAxWtdj4SXzKJIbrqIo6n9y" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/345cf592-2558-11ea-ba93-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 18</h5>
                            <p class="card-text">
                                Pollution of Air and Water
                            </p>
                                
                            <a target="_blank" href="https://drive.google.com/open?id=112Sno0pjPxY5PslYKdpTWJAKM_-AdeyH" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="ebooks" class="btn btn-outline-success btn-sm">
            Go Back
        </a>

    </center>
    {% endblock %}