{% extends 'base.html' %} {% block title %} Science E-Books Class 7 {% endblock %} {% block content %}
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>

<br>
    <center>

        <!--Chapter 1 & 2-->

          <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/66508296-23d5-11ea-9374-02f21f5619c4/1.jpg" alt="">
      
                        <div class="card-body">
                            <h5 class="card-title">Chapter 1</h5>
                            <p class="card-text">
                                Nutrition in Plants
                            </p>
      
                            <a target="_blank" href="https://ncert.nic.in/textbook/pdf/gesc101.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/668f2276-23d5-11ea-9044-02f21f5619c4/1.jpg" alt="">
      
                        <div class="card-body">
                            <h5 class="card-title">Chapter 2</h5>
                            <p class="card-text">
                                Nutrition in Animals
                            </p>
                              
                            <a href="https://ncert.nic.in/textbook/pdf/gesc102.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 3 & 4-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/66a0c54e-23d5-11ea-b577-02f21f5619c4/1.jpg" alt="">
      
                        <div class="card-body">
                            <h5 class="card-title">Chapter 3</h5>
                            <p class="card-text">
                                Fibre to Fabric
                            </p>
      
                            <a target="_blank" href="https://ncert.nic.in/textbook/pdf/gesc103.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/66aa72b0-23d5-11ea-b7c1-02f21f5619c4/1.jpg" alt="">
      
                        <div class="card-body">
                            <h5 class="card-title">Chapter 4</h5>
                            <p class="card-text">
                                Heat
                            </p>
                              
                            <a target="_blank" href="https://ncert.nic.in/textbook/pdf/gesc104.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 5 & 6-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/668be0e8-23d5-11ea-9d8b-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 5</h5>
                            <p class="card-text">
                                Acids, Bases and Salts
                            </p>
        
                            <a target="_blank" href="https://ncert.nic.in/textbook/pdf/gesc105.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/66d4b9b2-23d5-11ea-9506-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 6</h5>
                            <p class="card-text">
                                Physical and Chemical Changes
                            </p>
                                
                            <a targer="_blank" href="https://ncert.nic.in/ncerts/l/gesc106.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 7 & 8-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/671cf3da-23d5-11ea-a9ef-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 7</h5>
                            <p class="card-text">
                                Weather, Climate and Adaptations of Animals to Climate
                            </p>
        
                            <a target="_blank" href="https://ncert.nic.in/ncerts/l/gesc107.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/67977722-23d5-11ea-adfa-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 8</h5>
                            <p class="card-text">
                                Winds, Storms and Cyclones
                            </p>
                                
                            <a target="_blank" href="https://ncert.nic.in/textbook/pdf/gesc108.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 9 & 10-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/67648b32-23d5-11ea-a607-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 9</h5>
                            <p class="card-text">
                                Soil
                            </p>
        
                            <a target="_blank" href="https://ncert.nic.in/textbook/pdf/gesc109.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/677532c0-23d5-11ea-9802-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 10</h5>
                            <p class="card-text">
                                Respiration in Organisms
                            </p>
                                
                            <a target="_blank" href="https://ncert.nic.in/ncerts/l/gesc110.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 11 & 12-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/6795ba0e-23d5-11ea-ae19-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 11</h5>
                            <p class="card-text">
                                Transportation in Animals and Plants
                            </p>
        
                            <a target="_blank" href="https://ncert.nic.in/ncerts/l/gesc111.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/67d00754-23d5-11ea-aeab-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 12</h5>
                            <p class="card-text">
                                Reproduction in Plants
                            </p>
                                
                            <a target="_blank" href="https://ncert.nic.in/ncerts/l/gesc112.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 13 & 14-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/6853b842-23d5-11ea-babd-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 13</h5>
                            <p class="card-text">
                                Motion and Time
                            </p>
        
                            <a target="_blank" href="https://ncert.nic.in/ncerts/l/gesc113.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/681f6baa-23d5-11ea-9726-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 14</h5>
                            <p class="card-text">
                                Electric Current and it's effects
                            </p>
                                
                            <a target="_blank" href="https://ncert.nic.in/ncerts/l/gesc114.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 15 & 16-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/698860dc-23d5-11ea-8420-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 15</h5>
                            <p class="card-text">
                                Light
                            </p>
        
                            <a target="_blank" href="https://ncert.nic.in/textbook/pdf/gesc115.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/69336ea6-23d5-11ea-9646-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 16</h5>
                            <p class="card-text">
                                Water, A precious Resource
                            </p>
                                
                            <a target="_blank" href="https://ncert.nic.in/textbook/pdf/gesc116.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Chapter 17 & 18-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/698a1eae-23d5-11ea-bd58-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 17</h5>
                            <p class="card-text">
                                Forests: Our Lifeline
                            </p>
        
                            <a target="_blank" href="https://ncert.nic.in/textbook/pdf/gesc117.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.aglasem.com/aglasem-doc/692275a6-23d5-11ea-9855-02f21f5619c4/1.jpg" alt="">
        
                        <div class="card-body">
                            <h5 class="card-title">Chapter 18</h5>
                            <p class="card-text">
                                Wastewater Story
                            </p>
                                
                            <a target="_blank" href="https://ncert.nic.in/ncerts/l/gesc118.pdf" class="btn btn-outline-primary btn-sm">
                                Go there
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="ebooks" class="btn btn-outline-success btn-sm">
            Go Back
        </a>

    </center>
    {% endblock %}